* {
    margin: 0;
}
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Kaisei Opti', serif;
    font-family: 'Noto Sans TC', sans-serif;
}
.row {
    /* position: relative; */
}


/* ---RWD手機版：375px--- */
/* ---1.Navbar--- */
nav {
    /* position: relative; */
    /* outline: 1px solid red; */
    background-color: black;
    z-index: 3;

    position: fixed;
    width: 100%;
    transition: .5s;
}
nav.hide {
    transform: translateY(-45px);
}
.logo {
    /* outline: 1px solid red; */
    padding-top: 8px;
    padding-bottom: 8px;
}
.logo a {
    display: flex;
    justify-content: center;
}
.logo img {
    width: 100px;
}

.disabled{
    pointer-events: none;
    cursor: default;   
}

.mobile-btn {
    /* outline: 1px solid red; */
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 10px;
}
.mobilebtn-1, .mobilebtn-2, .mobilebtn-3 {
    width: 18px;
    height: 2px;
    border-radius: 5px;
    background-color: #D3B572;
    position: absolute;
}
.mobilebtn-1 {
    transform: translateY(-7px);
    transition: .5s;
}
.mobilebtn-2 {
    transition: .5s;
}
.mobilebtn-3 {
    transform: translateY(7px);
    transition: .5s;
}
.mobilebtn-1-on {
    transform: translateY(0px) rotate(45deg);
}
.mobilebtn-2-on {
    opacity: 0;
}
.mobilebtn-3-on {
    transform: translateY(0px) rotate(-45deg);
}

.nav-right {
    display: none;
}

.desktop-user {
    display: none;
}
.mobile-menu {
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(../imgs/Navbar/mobile_navabr_bg.jpeg) no-repeat;
    background-position: -65px 0px;
    overflow: hidden;
    z-index: 2;

    transition: .5s;
    position: fixed;
    left: -375px;
    top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}
.mobile-menu-on {
    position: fixed;
    left: 0px;
}
.mobile-menu a:hover {
    text-decoration: none;
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.user-imgwrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #D3B572;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}
.user-imgwrap img {
    width: 100%;
}
.user-name {
    color: #D3B572;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
.user-login {
    color: #D3B572;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
#user-login {
    color: #D3B572;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}


.mobile-menu-list {
    /* outline: 1px solid red; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.mobile-menu ul {
    list-style-type: none;
    line-height: 35px;
    padding-left: 0px;
    margin: auto;
}
.mobile-menu-title-all {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.mobile-menu-title-all ul {
    /* outline: 1px solid red; */
    height: 0px;
    overflow: hidden;
    transition: .5s;
}
.mobile-menu-title-all:hover ul {
    /* outline: 1px solid red; */
    height: 150px;
}

.mobile-menu-maintitle {
    color: #D3B572;
    font-size: 22px;
    font-weight: 500;
}
.mobile-menu-maintitle:hover {
    text-decoration: none;
    color: #D3B572;
}
.mobile-menu-subtitle {
    color: #fff;
    font-size: 16px;
}
.mobile-menu-subtitle:hover {
    text-decoration: none;
    color: #D3B572;
}

.mobile-menu-footer {
    /* outline: 1px solid red; */
    color: #D3B572;
    font-size: 12px;
    text-align: center;
    padding-top: 0px;
    /* margin-bottom: 50px; */
}


/* ---Footer---- */
.desktop-footer {
    display: none;
}

.hide{
    display: none;
}
.show{
    display: block;
}




/* ---RWD桌機版：1920px--- */
@media screen and (min-width: 1600px) {
    nav {
        /* height: 80px; */
    }
    nav.hide {
        transform: translateY(-82px);
    }
    .desktop-menu-list {
        /* position: relative; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        /* outline: 1px solid red; */
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 80px;
    }
    .logo a {
        display: block;
    }
    .logo img {
        width: 175px;
    }

    .nav-right {
        display: block;
        /* outline: 1px solid red; */
        margin-left: 70px;
    }
    .nav-right ul {
        margin-bottom: 0px;
    }
    .nav-right li {
        margin-left: 40px;
        margin-right: 40px;
    }
    .nav-right a {
        font-size: 20px;
        color: #fff;
    }
    .nav-right a:hover {
        text-decoration: none;
        color: #D3B572;
    }

    .dropdown-menu {
        min-width: 0rem;
        width: 130px;
        padding: 10px 0;
        margin-top: 17px;
    }
    .dropdown-menu .nav-list {
        color: #D3B572;
        line-height: 40px;
        /* outline: 1px solid red; */
    }
    .dropdown-menu .nav-list:hover {
        background-color: rgb(238, 238, 238);
    }


    .future {
        padding-top: 200px;
        padding-bottom: 200px;
    }


    .desktop-user-nav {
        display: flex;
    }
    .desktop-user {
        display: block;
        /* outline: 1px solid red; */
    }
    .desktop-user-nav a:hover {
        text-decoration: none;
    }
    .user-info {
        margin-left: 70px;
        margin-right: 30px;
        margin-top: 0;
    }
    .user-imgwrap, .user-name, .user-login {
        margin-left: 10px;
        margin-right: 10px;
    }
    #user-login {
        margin-left: 10px;
        margin-right: 10px;
    }
    .user-name, .user-login {
        font-size: 20px;
    }
    #user-login {
        font-size: 20px;
    }
    .log-icon {
        height: 40px;
        text-align: center;
        
    }
    .log-icon i {
        font-size: 25px;
        color: #D3B572;
        line-height: 40px;
    }

    .user-cart {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-btn {
        display: none;
    }
    .mobile-menu {
        display: none;
    }

    /* ---Footer---- */
    footer {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #000;
    }
    .desktop-footer {
        display: block;
    }
    .desktop-footer-team3rd {
        font-size: 16px;
        color: #D3B572;
        display: flex;
        justify-content: center;
        text-align: center;
        cursor: default;
    }


}



