@media screen and (min-width: 1920px){
.mc-bg .container{
    /* width: 1920px; */
    padding-top: 10%;
    background-color: rgba(0, 0, 0, 0);
}
.mc-bg .container form{
    width: 50%;
}
.container form h4{
    font-size: 24px;
    margin-top: 25px;
}
.container form p{
    margin-top: 30px;
    font-size: 20px;
}
.container form div{
    margin-top: 10px;
}
.Icon-inside input{
    height: 55px;
}
.container form .verification-code{
    margin-top: 40px;
}
.mc-btn{
    margin-top: 40px;
    height: 55px;
}
.sing-in-img{
    display: block;
}
.small-polygon{
    width: 75px;
    right: 13%;
    top: 82%;
}
.big-polygon{
    width: 100px;
    right: 14%;
    top: 78%;
}
}
@media screen and (max-width: 1920px){
.password-page-logo,.fond-password-img{
    display: none;
}
}