*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
.mc-bg{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#D3B572, #000000);
    position: relative;
    overflow: hidden;
}
.container{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    padding-top: 40%;
    /* 這裡調整高度 */
}
.password-page-logo{
    width: 360px;
    height: 90px;
    margin: auto;
}
.password-page-logo img{
    height: 100%;
}
.mc-bg .container form{
    width: 90%;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    margin: auto;
}
.container form h4{
    font-size: 20px;
    color: #D3B572;
}
.container form p{
    color: #D3B572;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: left;
}
.container form i{
    color: #D3B572;
}
.container form div{
    width: 100%;
    margin-top: 5px;
}
.Icon-inside input{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border:  1px solid #D3B572;
    padding-left: 35px;
}
input::-webkit-input-placeholder{
    color: #D3B572;
    font-size: 16px;
}
.Icon-inside {
    position:relative;
   }
.Icon-inside i{
    position:absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
   }
.mc-btn{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border:  1px solid #D3B572;
    color: #ffffff;
    background-color: #D3B572;
    margin-top: 40px;
    transition: .3s;
}
.mc-btn:hover{
    color: #D3B572;
    background-color: #000000;
}
.small-polygon{
    position: absolute;
    right: 10%;
    top: 80%;
    animation: roll 10s linear infinite;
}
.big-polygon{
    position: absolute;
    right: 15%;
    top: 77%;
    animation: roll2 10s linear infinite;
}
@keyframes roll{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes roll2{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.sign-in-footer{
    text-align: center;
    position: relative;
    margin-top: 40%;
}
.sign-in-footer::before{
    display: block;
    content: "";
    width: 470px;
    height: 2px;
    background-color: #D3B572;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sign-in-footer::after{
    display: block;
    content: "";
    width: 470px;
    height: 2px;
    background-color: #D3B572;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.sign-in-footer p{
    color: #D3B572;
}
.sign-in-footer p a{
    color: #D3B572;
}
/* 1920---- */
.fond-password-img .password-img1{
    position: absolute;
    top: 600px;
    right: -50px;
    transform: rotate(-35deg);
}
.fond-password-img .password-img2{
    position: absolute;
    top: 800px;
    right: 100px;
    transform: rotate(25deg);
}
@keyframes roll3{
	0% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
	100% { transform: rotate(0deg); }
}