* {
  /* outline: 1px solid red; */
}
body {
  background-color: #000000 !important;
}

.index_whole_body {
  padding-top: 10%;
  padding-bottom:68%;
}
@media screen and (min-width: 1440px) {
  .index_whole_body {
    padding-top: 5%;
    padding-bottom: 33%;
  }
}

/* -------字型-------- */

.Inter {
  font-family: "Inter", sans-serif;
}
.KaiseiOpti {
  font-family: "Kaisei Opti", serif;
}
.NotoSans {
  font-family: "Noto Sans TC", sans-serif;
}

/* -------顏色-------- */

.fakegold {
  color: #d3b572;
}
.Primary {
  color: #667080;
}
.Secondary {
  color: #eef1f4;
}
.bgc_w {
  color: #fcfcfc;
}
.color_ike {
  color: #348ec7;
}
.color_vox {
  color: #960018;
}
.color_mysta {
  color: #c3552b;
}
.color_luca {
  color: #d4af37;
}
.color_shu {
  color: #a660a7;
}

/* --------Bigtitl---------- */

.index_Bigtitle {
  width: 100%;
  margin: auto;
  padding-top: 20%;
}
.index_Bigtitle_img {
  width: 100%;
  z-index: 1;
  display: none;
}
/* --------visual---------- */
.index_visual {
  width: 100%;
  height: 210px;
  position: relative;
}
.index_visual_video {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(20px);
  z-index: -1;
}
@media screen and (min-width: 1440px) {
  .index_Bigtitle {
    padding-top: 0%;
  }

  .index_visual_video {
    height: 630px;
    transform: translateY(-80px);
  }
  .index_Bigtitle_img {
    width: 100%;
    z-index: 1;
    display: block;
  }
}

/* --------index_visual_bc---------- */
.index_visual_bc_wrap {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  top: -83px;
}
.index_visual_bc {
  top: 5%;
  left: -10%;
  width: 500px;
  height: 400px;
  background: url(../imgs/index/hope_ph.png) repeat center center / cover;
  position: absolute;
  z-index: 0;
  /* outline: 1px solid green; */
  animation: sdl 3s cubic-bezier(0.6, 0.3, 0.3, 0.6) infinite;
}
@keyframes sdl {
  from {
    transform: translate(9%, 20px) rotate(0turn) translate(-20%, -20px)
      translate(15%, 20%) rotate(1turn) translate(-22%, -15%);
  }

  to {
    transform: translate(9%, 20px) rotate(1turn) translate(-20%, -20px)
      translate(15%, 20%) rotate(0turn) translate(-22%, -15%);
  }
}

@media screen and (min-width: 1440px) {
  .index_visual_bc_wrap {
    width: 100%;
    height: 900px;
    overflow: hidden;
    position: relative;
    top: -80px;
  }
  .index_visual_bc {
    width: 1440px;
    height: 900px;
    background: url(../imgs/index/hope.png) no-repeat center center / cover;
    top: 10%;
    left: 0%;
  }
}
@keyframes sdl {
  from {
    transform: translate(20%, 20px) rotate(0turn) translate(-20%, -20px)
      translate(20%, 15%) rotate(1turn) translate(-32%, -25%);
  }

  to {
    transform: translate(20%, 20px) rotate(1turn) translate(-20%, -20px)
      translate(20%, 15%) rotate(0turn) translate(-32%, -25%);
  }
}

/* -------chat--------- */

.index_visual_chat {
  display: none;
}
@media screen and (min-width: 1440px) {
  .index_visual_chat {
    display: block;
    width: 36%;
    background-color: rgba(252, 252, 252, 0.8);
    border-radius: 8px;
    border: 4px solid #667080;
    padding: 24px 32px;
    position: absolute;
    top: 18rem;
    cursor: default;
  }
  .index_visual_chat h3 {
    color: #d3b572;
    font-weight: 700;
  }
  .index_visual_chat span {
    color: #000000;
    font-weight: 600;
  }
  .index_visual_chat p {
    color: #667080;
    margin-bottom: 10px;
  }
  .Spinner_img_wrap img {
    -webkit-animation: circle 1.5s infinite linear;
  }

  @-webkit-keyframes circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/* -------index_text--------- */

.index_text {
  position: relative;
  text-align: center;
  justify-content: center;
  cursor: default;
}
.index_text_up {
  font-size: 36px;
  font-weight: 700;

  position: absolute;
  transform: translate(3rem, -4rem);
}
.index_text_dn {
  font-size: 48px;
  font-weight: 700;

  position: absolute;
  transform: translate(7rem, 0rem);
}

@media screen and (min-width: 1440px) {
  .index_text_up {
    font-size: 96px;
    font-weight: 700;
    position: absolute;
    transform: translateY(16rem);
  }
  .index_text_dn {
    font-size: 200px;
    font-weight: 700;
    position: absolute;
    transform: translate(14rem, 20rem);
  }
}
/* -------index_circle_btn--------- */
.index_circle_btn1 {
  width: 138px;
  height: 138px;
  position: absolute;
  transform: translate(1rem, 0rem);
}
.index_circle_btn2 {
  width: 153px;
  height: 153px;
  position: absolute;
  transform: translate(10rem, 5rem);
}
.index_circle_btn_wrap {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.index_circle_btn_circle {
  width: 100%;
  height: 100%;
  /* position: relative; */
  border: 3px solid #d3b572;
  border-radius: 50%;
  transform: translate(-5px, -5px);
}
.index_circle_btn_circle img {
  width: 100%;
  height: 100%;
}
.index_circle_btn_circle:hover {
  transform: translate(0px, 0px);
}

/* -------index_arrow--------- */

.index_arrow_1 {
  position: absolute;
  transform: translate(0.6rem, 3rem);
}
.index_arrow_2 {
  position: absolute;
  transform: translate(0.6rem, 3.5rem);
}
.index_arrow_text {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.index_arrow_text p {
  margin-bottom: 0;
}
.index_arrow_text svg {
  transform: translateX(0.5rem);
}
@media screen and (min-width: 1440px) {
  .index_circle_btn1 {
    width: 412px;
    height: 412px;
    position: relative;
    transform: translate(1rem, 30rem);
  }
  .index_circle_btn2 {
    width: 538px;
    height: 538px;
    position: relative;
    transform: translate(30rem, 12rem);
  }
  .index_circle_btn_circle {
    transform: translate(-15px, -15px);
  }
  .index_arrow_1 {
    transform: translate(3rem, 9rem);
  }
  .index_arrow_2 {
    transform: translate(6rem, 13rem);
  }
  .index_arrow_text {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
}

/* -------index_intro_count--------- */

.index_intro_count {
  margin-top: 10rem;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  cursor: default;
}
.index_intro_count_wrap {
  position: absolute;
  right: 4%;
  top: 17rem;
}
.index_intro_count_wrap p {
  /* writing-mode:vertical-rl; */
  margin-bottom: 0rem;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .index_intro_count_wrap {
    display: flex;
    margin-left: 15rem;
    font-size: 64px;
    font-weight: 700;
    right: unset;
    top: 2rem;
  }
}

/* -------index_text_2--------- */
.index_text_2 {
  padding-left: 1rem;
  cursor: default;
}
.index_text_2_up {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0;
}
.index_text_2_dn {
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .index_text_2 {
    margin-top: 15rem;
    padding-right: 10rem;
    text-align: end;
  }
  .index_text_2_up {
    font-size: 128px;
  }
  .index_text_2_dn {
    font-size: 80px;
  }
}

/* ----index_intro_Bigtrain_wrap----- */
.index_intro_Bigtrain_wrap {
  width: 345px;
  overflow: hidden;
  /* outline: 2px solid #ffff00; */
}
@media screen and (min-width: 1440px) {
  .index_intro_Bigtrain_wrap {
    width: 1140px;
    overflow: hidden;
  }
}

/* -------index_intro_Bigtrain------- */

.index_intro_Bigtrain {
  width: 1725px;
  /* outline: 2px solid #00ff66; */
  height: 1030px;
  /* transform: translateX(-690px); */
}

@media screen and (min-width: 1440px) {
  .index_intro_Bigtrain {
    width: 5700px;
    /* outline: 2px solid #00ff66; */
    height: 720px;
    /* transform: translateX(-3420px); */
  }
}

/* -------index_intro_Ike_outwrap--------- */
.index_intro_Ike_outwrap {
  width: 375px;
  /* height: 300px; */
  /* outline: 2px solid #00f0ff; */
}

@media screen and (min-width: 1440px) {
  .index_intro_Ike_outwrap {
    width: 1140px;
    /* height: 300px; */
    /* outline: 2px solid #00f0ff; */
  }
}

/* -------index_IKE_body--------- */

.index_IKE_body {
  width: 310px;
  position: relative;
  top: -3rem;
  /* transform: translateY(-3rem); */
  /* outline: 1px solid green; */
}
.ike_body {
  position: absolute;
  z-index: 1;
}
.ike_shadow {
  position: absolute;
  transform: translateX(1rem);
}

@media screen and (min-width: 1440px) {
  .index_IKE_body {
    /* transform: translateX(50% - 105px); */
    transform: translate(130%, -10rem);
  }
}

/* -------index_square_btn--------- */

.index_square_btn {
  justify-content: end;
  text-align: center;
  position: relative;
  top: -2%;
  right: 4%;
}
.index_square_btn_wrap p {
  width: 64px;
  height: 28px;
  background-color: #d3b572;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
  /* outline: 1px solid green; */
}
.index_square_btn_wrap p:hover {
  background-color: #eef1f4;
  color: #667080;
}
.index_square_btn_wrap p.active {
  background-color: #eef1f4;
  color: #667080;
}
.index_IKE_intro {
  display: none;
}

@media screen and (min-width: 1440px) {
  .index_square_btn {
    justify-content: center;
    right: unset;
    top: 0%;
  }
  .index_square_btn_wrap {
    display: flex;
    margin-left: 20rem;
  }
  .index_square_btn_wrap p {
    width: 100px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    margin: 1rem;
    padding-top: 0.6rem;
  }

  /* -------index_IKE_intro--------- */

  .index_IKE_intro {
    display: block;
    width: 220px;
    position: relative;
    margin-left: 15rem;
    top: -13rem;
  }
  .index_IKE_head {
    height: 342px;
    cursor: default;
  }
  .index_IKE_head img {
    margin-bottom: 1rem;
    /* position: absolute; */
  }
  .index_IKE_head_title {
    font-size: 24px;
    font-weight: 700;
  }
  .see_more {
    font-size: 20px;
    text-decoration: underline #d3b572;
  }
  .see_more:hover,
  .see_more:active {
    color: #667080;
    text-decoration: none;
  }
  .svg_link {
    margin-top: 1rem;
  }
  .svg_link svg {
    cursor: pointer;
  }

  .see_more_ph {
    display: none;
  }
}

.see_more_ph a {
  display: flex;
  justify-content: end;
  position: relative;
  top: 14rem;
  padding-right: 1.5rem;
  text-decoration: underline #d3b572;
}
.see_more_ph:hover a,
.see_more_ph:active a {
  color: #667080;
  text-decoration: none;
}

/* -----index_SC_rank---- */

.index_SC_rank {
  display: none;
}

@media screen and (min-width: 1440px) {
  /* -----index_SC_rank---- */

  .index_SC_rank {
    display: block;
    width: 274px;
    height: 177px;
    position: relative;
    top: -21rem;
    left: 44rem;
    z-index: 1;
    cursor: default;
  }

  .index_SC_rank_info {
    border: 1px solid #d3b572;
    border-radius: 16px;
    padding: 1rem 2rem;
  }
  .index_SC_rank_title {
    font-size: 24px;
    margin-bottom: -1.5rem;
  }
  .SC_rank_number {
    font-size: 32px;
    font-weight: 700;
  }
  .SC_rank_money {
    font-size: 16px;
  }
  .index_SC_rank_info_number {
    justify-content: space-between;
  }
  .index_SC_rank_info_btn {
    justify-content: space-between;
  }
  .index_SC_rank_info_btn p {
    position: relative;
    color: #d3b572;
    font-size: 16px;
    font-weight: 700;
    padding: 13px 24px;
    border: 1px solid #d3b572;
    border-radius: 5px;
    cursor: pointer;
  }
  .index_SC_rank_info_btn p:hover {
    color: #fff;
    background-color: #d3b572;
  }
  .index_SC_rank_info_btn p.active {
    color: #fff;
    background-color: #d3b572;
  }
  /* .index_SC_rank_info_btn p:nth-child(1) {
    color: #fff;
    background-color: #d3b572;
  } */
  .index_SC_rank_link {
    position: absolute;
    right: -5%;
    top: 70%;
    stroke: #fff;
  }
  .index_SC_rank_link:hover svg {
    stroke: #667080;
  }
}

/* -------index_livenow_timezone------ */

.index_livenow_timezone {
  width: 268px;
  height: 276px;
  position: relative;
  left: 10%;
  margin-top: 16rem;
}
.index_livenow_timezone_wrap {
  position: absolute;
}

.index_livenow_title {
  color: #e73d48;
  font-size: 24px;
  font-weight: 700;
}

.index_livenow_img {
  width: 258px;
  height: 155px;
  position: relative;
  background-color: #000000;
  cursor: pointer;
}
.index_livenow_img img {
  width: 100%;
  opacity: 1;
}
.index_livenow_img:hover img {
  opacity: 0.3;
  transition: 0.3s;
}
.video_play_icon {
  transform: scale(0.5);
  opacity: 0;
}
.index_livenow_img:hover .video_play_icon {
  position: absolute;
  left: 30%;
  top: 15%;
  opacity: 1;
  transition: 0.3s;
  transform: scale(1);
}

@media screen and (min-width: 1440px) {
  .index_livenow_timezone {
    left: 15%;
    top: -28rem;
    z-index: 1;
    margin-top: 0rem;
  }
  .index_timezone {
    margin-top: 1rem;
  }
}

.index_timezone {
  margin-top: 0rem;
}

/* ------index_timezone_flag------- */

.btn {
  /* background: url(../icons/angle-down-solid.svg) no-repeat; */
  color: #d3b572 !important;
  /* opacity: 0; */
}
.index_timezome_flag_dropdown_menu_wrap {
  padding: 2rem 0;
  z-index: 3;
  cursor: pointer;
}
.index_timezome_flag_dropdown_menu {
  /* 取消ul預設的內縮及樣式 */
  margin: 0;
  padding: 0;
  list-style: none;

  border-bottom: #d3b572 1px solid;
  display: inline-block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  align-items: baseline;
  /* border-radius: 5px; */
}

.index_timezome_flag_dropdown_menu li {
  position: relative;
  white-space: nowrap;
  /* border-right: #ccc 1px solid; */
}

.index_timezome_flag_dropdown_menu > li:last-child {
  border-right: none;
}

.index_timezome_flag_dropdown_menu > li {
  float: left;
  /* 只有第一層是靠左對齊*/
}

.index_timezome_flag_dropdown_menu a {
  background-color: transparent;
  color: #333;
  display: block;
  padding: 0 10px;
  text-decoration: none;
  line-height: 40px;
  /* border-radius: 5px; */
}

.index_timezome_flag_dropdown_menu a:hover {
  /* 滑鼠滑入按鈕變色*/
  background-color: #d3b572;
  color: #fff;
}

.index_timezome_flag_dropdown_menu li:hover > a {
  /* 滑鼠移入次選單上層按鈕保持變色*/
  background-color: #d3b572;
  color: #fff;
}

.index_timezome_flag_dropdown_menu ul {
  /*隱藏次選單*/
  display: none;
}

.index_timezome_flag_dropdown_menu li:hover > ul {
  /* 滑鼠滑入展開次選單*/
  display: block;
}

.index_timezome_flag_dropdown_menu:hover svg path {
  stroke: #667080;
}

/* -------timezone_info--------- */
.TimezoneInfo_wrap {
  text-align: center;
  cursor: default;
}
.TimezoneInfo_wrap p {
  margin-bottom: 0;
}
.TimezoneInfo {
  color: #d3b572;
  font-size: 24px;
  font-weight: 300;
}
.TimezoneInfoCount {
  color: #fff;
  font-size: 24px;
}
@media screen and (min-width: 1440px) {
  .TimezoneInfo {
    font-weight: 400;
  }
}

/* -----index_intro_chevron_left---- */
.index_intro_chevron_left {
  display: none;
}
.index_intro_chevron_left_wrap svg {
  cursor: pointer;
}
.index_intro_chevron_left_wrap svg:hover path {
  stroke: #667080;
}
/* -----index_intro_chevron_right---- */
.index_intro_chevron_right {
  position: relative;
}
.index_intro_chevron_right_wrap {
  position: absolute;
  right: 0%;
  top: -43rem;
}
.index_intro_chevron_right_wrap svg {
  cursor: pointer;
}
.index_intro_chevron_right_wrap svg:hover path {
  stroke: #667080;
}

@media screen and (min-width: 1440px) {
  /* -----index_intro_chevron_left---- */
  .index_intro_chevron_left {
    display: unset;
    position: relative;
  }
  .index_intro_chevron_left_wrap {
    display: flex;
    position: absolute;
    width: 13rem;
    height: 750px;
    top: -70rem;
    justify-content: center;
    align-items: center;
  }

  /* -----index_intro_chevron_right---- */
  .index_intro_chevron_right_wrap {
    display: flex;
    width: 13rem;
    height: 750px;
    top: -70rem;
    justify-content: center;
    align-items: center;
  }
}

/* ----index_MEME_outwrap---- */

.index_MEME_outwrap {
  max-width: 375px;
  /* height: 338px; */
  max-height: 338px;
  /* outline: 2px solid #348ec7; */
  position: relative;
  top: -5rem;
}
.index_MEME_text {
  cursor: default;
}
.index_MEME_text p {
  margin-bottom: 0;
  position: absolute;
  /* outline: 2px solid #348ec7; */
}
.index_MEME_text_up {
  transform: translateY(0rem);
  display: flex;
  align-items: flex-end;
}

.MEME_text_1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.3rem;
  transform: translate(11rem, 0.5rem);
}
.MEME_text_2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  transform: translate(1rem, 0rem);
  z-index: 3;
}
.MEME_text_3 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  transform: rotate(-90deg) translate(-4.5rem, -5rem);
}
@media screen and (min-width: 1440px) {
  .index_MEME_outwrap {
    max-width: 1140px;
    /* height: 800px; */
    max-height: 800px;
    /* outline: 2px solid #348ec7; */
    position: relative;
    top: 0rem;
  }

  .index_MEME_text p {
    margin-bottom: 0;
    position: absolute;
    /* outline: 2px solid #348ec7; */
  }
  .index_MEME_text_up {
    transform: translateY(-5.5rem);
    display: block;
  }

  .MEME_text_1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 0.3rem;
    transform: translate(15rem, -5rem);
  }
  .MEME_text_2 {
    font-size: 128px;
    font-weight: 500;
    line-height: 120px;
    transform: translate(15rem, 0rem);
    z-index: 3;
  }
  .MEME_text_3 {
    font-size: 128px;
    font-weight: 500;
    line-height: 120px;
    transform: rotate(-90deg) translate(-10rem, -1rem);
  }
}

/* ----------- menu_btn ------------*/
.menu_btn {
  display: none;
}
@media screen and (min-width: 1440px) {
  .menu_btn {
    display: block;
    width: 4rem;
    max-width: 4rem;
    height: 4rem;
    z-index: 3;
    position: absolute;
    /* top: 8rem; */
    /* left: 8rem; */
    background-color: #d3b572;
    transform: translate(58rem, -1.5rem);
    cursor: pointer;
  }
  .menu_line {
    position: absolute;
    top: 25%;
    left: 15%;
  }
  .line_up {
    background: #fff;
    height: 0.1rem;
    transition: 0.3s;
    position: absolute;
    width: 3rem;
    /* transform: translateY(-8px) rotate(-45deg); */
  }
  .line_up.tranup {
    transform: translateY(1rem) rotate(-30deg);
  }
  .line_middle {
    background: #fff;
    height: 0.1rem;
    transition: 0.3s;
    position: absolute;
    width: 3rem;
    margin: 1rem 0;
    display: block;
  }
  .line_down {
    background: #fff;
    height: 0.1rem;
    transition: 0.3s;
    position: absolute;
    width: 3rem;
    margin: 2rem 0;
    /* transform: translateY(8px) rotate(45deg); */
  }
  .line_middle.none1 {
    transform: rotate(30deg);
  }
  .line_down.trandn {
    transform: translateY(-1rem) rotate(30deg);
  }
}

/* ----------index_MEME_img----------- */
.index_MEME_img_wrap {
  width: 345px;
  height: 237px;
  position: relative;
  /* outline: 3px solid #00f0ff; */
  /* transform: translate(-2rem, 0rem); */
}
.index_MEME_img {
  width: 375px;
  height: 237px;
  /* outline: 3px solid #00ff66; */
  position: absolute;
  z-index: -1;
  transform: translate(-1rem, 0rem);
  /* background-color: #fff; */
}
.index_MEME_img img {
  width: 345px;
  object-fit: contain;
  object-position: center;
  /* background-origin: content-box ; */
  transform: translate(1rem, 0.5rem);
}
.index_MEME_img_wrap_other {
  display: none;
}
@media screen and (min-width: 1440px) {
  .index_MEME_img_wrap {
    width: 720px;
    height: 455px;
    position: relative;
  }
  .index_MEME_img {
    width: 100%;
    height: 100%;
    /* outline: 3px solid #00ff66; */
    position: absolute;
    z-index: -1;
    transform: translate(15rem, 0rem);
  }
  .index_MEME_img img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    /* background-origin: content-box ; */
    transform: translate(0rem, 0rem);
  }
  .index_MEME_img_wrap_other {
    display: none;
  }
}

/* -----------index_MEME_btn------------ */

.index_MEME_btn_wrap {
  margin-top: 1rem;
  justify-content: center;
}
.index_MEME_btn {
  width: 345px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MEME_btn {
  width: 55px;
  height: 37px;
  border: 1px solid #d3b572;
  padding: 4.5px 4px;
  /* margin: 0px 5px; */
  text-align: center;
  cursor: pointer;
}
.MEME_btn p {
  width: 45px;
  height: 26px;
  background-color: #d3b572;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 0;
}
.contain-1 {
  background-origin: content-box;
}
.MEME_btn:hover p {
  background-color: #eef1f4;
  color: #667080;
}
.MEME_btn p.active {
  background-color: transparent;
  border: 1px solid #d3b572;
  color: #fff;
}
/* .index_MEME_btn .MEME_btn:first-child p {
  background-color: transparent;
  border: 1px solid #d3b572;
  color: #fff;
} */

@media screen and (min-width: 1440px) {
  .index_MEME_btn_wrap {
    margin-top: 3rem;
    justify-content: center;
  }
  .index_MEME_btn {
    width: 850px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MEME_btn {
    width: 125px;
    height: 69px;
    border: 1px solid #d3b572;
    padding: 8px 12px;
    margin: 10px 32px;
    text-align: center;
  }
  .MEME_btn p {
    width: 83px;
    height: 50px;
    background-color: #d3b572;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 3rem;
  }
  .contain-1 {
    background-origin: content-box;
  }
  .MEME_btn:hover p {
    background-color: #eef1f4;
    color: #667080;
  }
}

/* ---------index_arrow_3------------- */

.index_arrow_3 {
  position: absolute;
  transform: translate(14rem, 1.5rem);
}
.index_arrow_3:hover p {
  color: #667080;
}
.index_arrow_3 a {
  text-decoration: none;
  color: #fff;
}
.index_arrow_text p {
  margin-bottom: 0;
}

@media screen and (min-width: 1440px) {
  .index_arrow_3 {
    position: absolute;
    transform: translate(50rem, 1rem);
  }
}

/* ------------index_watch_wrap-------------- */
.index_watch_text {
  display: none;
}
@media screen and (min-width: 1440px) {
  /* -----------index_watch_text---------- */
  .index_watch_text {
    display: block;
    margin-bottom: 3rem;
    cursor: pointer;
  }
  .index_watch_text p {
    margin-bottom: 0;
  }
  .watch_text_01 {
    font-size: 128px;
    line-height: 120px;
  }
  .watch_text_02 {
    font-size: 80px;
    line-height: 80px;
    text-align: end;
  }
}
/* ----------index_watch_wrap------------ */

/* #tab-demo{ width:510px; height:200px;}
#tab-demo > ul{ display:block; margin:0;list-style:none;}
.tab-title{list-style:none;}
#tab-demo > ul > li{ display:inline-block; vertical-align:top;font-family:'sans-serif'; margin:0 -1px -1px 0 ; border-bottom:1px solid #d3b572; height:48px; line-height:48px; background:transparent;padding:0 15px;list-style:none; box-sizing:border-box;}
#tab-demo >  ul > li a{ color:#d3b572; text-decoration:none; font-weight: 400;}
#tab-demo > ul > li.active{ border-bottom:3px solid #d3b572; background:transparent;color:#667080; font-weight: 700;}

#tab-demo > .tab-inner{ clear:both; color:#fff; border:1px transparent solid;}
.tab-inner{ padding:15px; height:50px;} */

.index_watch_wrap {
  margin-top: 10rem;
}
/* ----#tab-demo---- */
#tab-demo {
  display: none;
}
@media screen and (min-width: 1440px) {
  #tab-demo {
    display: block;
    width: 1110px;
    height: 500px;
  }
  #tab-demo > ul {
    display: block;
    margin: 0;
    list-style: none;
  }
  .tab-title {
    list-style: none;
    text-align: center;
    padding-right: 20rem;
  }
  #tab-demo > ul > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px -2px 0;
    border-bottom: 1px solid #d3b572;
    width: 170px;
    height: 55px;
    line-height: 48px;
    background: transparent;
    padding: 0 15px;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
  }
  #tab-demo > ul > li a {
    color: #d3b572;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
  }
  #tab-demo > ul > li.active {
    border-bottom: 3px solid #d3b572;
    background: transparent;
    color: #667080;
    font-weight: 700;
  }

  #tab-demo > .tab-inner {
    clear: both;
    color: #fff;
    border: 1px transparent solid;
  }
  .tab-inner {
    margin-top: 2rem;
    padding: 15px;
    height: 350px;
    width: 1350px;
    font-size: 16px;
    transform: translateX(-8rem);
    overflow: auto;
  }

  .tab-inner::-webkit-scrollbar {
    /* display: none; */
    height: 5px;
    /* background-color: black; */
  }
  .tab-inner::-webkit-scrollbar-thumb {
    background-color: #d3b572;
  }
  .tab-inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* background-color: #ffc0cb; */
  }

  /* ---------index_Watch_img_wrap----------- */
  /* .index_Watch_img_out_wrap {
  flex-wrap: wrap;
} */
  .index_Watch_img_wrap {
    width: 300px;
    height: 250px;
    cursor: pointer;
  }
  .index_Watch_img_wrap a {
    text-decoration: none;
  }
  .index_Watch_img {
    width: 300px;
    height: 185px;
    position: relative;
    background-color: #000000;
  }
  .index_Watch_img img {
    width: 100%;
    opacity: 1;
  }
  .index_Watch_img_wrap:hover img {
    opacity: 0.3;
    transition: 0.3s;
  }
  .index_Watch_img_wrap .video_play_icon {
    transform: scale(0.5);
    opacity: 0;
  }
  .index_Watch_img_wrap:hover .video_play_icon {
    position: absolute;
    left: 33%;
    top: 20%;
    opacity: 1;
    transition: 0.3s;
    transform: scale(1);
  }

  .index_Watch_text {
    font-size: 16px;
    color: #fff;
    display: -webkit-box;
    /* 限制多少行 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* 把多的隱藏起來 */
    overflow: hidden;
    /* 文字超出變成...（CSS碼） */
    /* text-overflow: ellipsis; */
    /* 文字不換行 */
    /* white-space: nowrap; */
  }

  .index_Watch_img_wrap:hover .index_Watch_text {
    color: #d3b572;
  }

  /* -------index_Watch_fanart_img_wrap------- */

  .index_Watch_fanart_img_wrap {
    width: 300px;
    height: 310px;
    cursor: pointer;
  }
  .index_Watch_fanart_img {
    width: 300px;
    height: 185px;
    overflow: hidden;
  }
  .index_Watch_fanart_img img {
    width: 100%;
  }
  .index_Watch_fanart_img_wrap a {
    text-decoration: none;
  }
  .index_Watch_fanart_img_wrap:hover img {
    transition: 0.3s;
    transform: scale(1.2);
  }
  .index_Watch_fanart_img_wrap:hover .index_Watch_text {
    color: #d3b572;
  }
  .index_Watch_fanart_img_wrap:hover a path {
    fill: #667080;
  }
  .index_Watch_text_2 {
    font-size: 16px;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .index_Watch_fanart_img_wrap:hover .index_Watch_text_2 {
    color: #d3b572;
  }
  .index_Watch_fanart_img_wrap:hover .index_Watch_text_2 > span {
    color: #667080;
  }
  .tr-img {
    transform: translateY(-10rem);
  }
  .index_Watch_fanart_img_wrap:hover .tr-img {
    transform: translateY(-8rem) scale(1.2);
  }
  .tr-img_2 {
    transform: translateY(-3rem);
  }
  .index_Watch_fanart_img_wrap:hover .tr-img_2 {
    transform: translateY(-3rem) scale(1.2);
  }
  .modal-title {
    font-size: 24px;
  }
  .modal-content {
    background-color: #000000;
    outline: 1px solid #d3b572;
  }
}
/* ----------ndex_Watch_img_wrap_ph------------ */
.index_Watch_img_wrap_ph {
  width: 100%;
  /* outline: 3px solid #00f0ff; */
}
.index_Watch_img_ph {
  width: 258px;
  /* outline: 3px solid #00f0ff; */
  margin: auto;
}
.index_Watch_img_ph:hover p {
  color: #d3b572;
}
.index_Watch_text_ph {
  width: 100%;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.index_Watch_fanart_img_wrap_ph {
  width: 258px;
  overflow: hidden;
  margin: auto;
}
.index_Watch_fanart_img_ph img {
  width: 100%;
}
.index_Watch_fanart_img_wrap_ph:hover img {
  transition: 0.3s;
  transform: scale(1.2);
}
.index_Watch_text_2_ph {
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.index_Watch_fanart_img_wrap_ph:hover .index_Watch_text_2_ph {
  color: #d3b572;
}
.index_Watch_fanart_img_wrap_ph:hover .index_Watch_text_2_ph > span {
  color: #667080;
}
.index_Watch_fanart_img_wrap_ph:hover .index_Watch_info a path {
  fill: #667080;
}

/* -----------tab_title_ph------------- */
.tab_title_ph {
  transform: translateY(-5rem);
}
.tab_title_ph_p {
  display: block;
  border-bottom: 3px solid #d3b572;
  width: 170px;
  height: 55px;
  line-height: 48px;
  background: transparent;
  padding: 0 15px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .tab_title_ph {
    display: none;
  }
}

/* ---------index_arrow_4------------- */

.index_arrow_4 {
  position: absolute;
  transform: translate(17rem, -4rem);
}
.index_arrow_4:hover p {
  color: #667080;
}
.index_arrow_4 a {
  text-decoration: none;
  color: #fff;
}
.index_arrow_text p {
  margin-bottom: 0;
}
.index_arrow_4 svg {
  transform: translate(0.8rem, 0rem) scale(1.5);
}

@media screen and (min-width: 1440px) {
  .index_arrow_4 {
    position: absolute;
    transform: translate(55rem, 0rem);
  }
  .index_arrow_4 svg {
    height: 25px;
    transform: translate(2rem, 0rem) scale(1.8);
    cursor: pointer;
    /* cursor:default; */
  }
}

/* ------------index_timeline_wrap------------ */
.index_timeline_wrap {
  transform: translateY(6rem);
}
.index_timeline {
  width: 100%;
  height: 175px;
  background-color: #fff;
}
.index_timeline_bg_circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #fff;
  transform: translateY(-7.5rem);
  margin: auto;
  /* overflow: hidden; */
}
.index_timeline_bg_halfcircle {
  width: 300px;
  height: 259px;
  background: url("../imgs/index/marquee/halfcircle-black_sm.png") center center /
    contain no-repeat;
  position: relative;
  /* z-index: 1; */
  transform: translateY(2rem);
}
.index_timeline_bg_halfcircle .halfcircle {
  width: 100%;
}
.index_timeline_bg_halfcircle .marquee_white_wrap {
  display: none;
  position: absolute;
  bottom: 0;
  height: 48px;
}
.marquee_black_outwrap {
  width: 100%;
  height: 48px;
}
.marquee_black_wrap {
  width: 100%;
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 0;
}

/* -----index_timeline_Title----- */
.index_timeline_Title {
  display: none;
}
.index_timeline_Title_ph {
  text-align: center;
  cursor: default;
  display: flex;
  align-items: baseline;
  position: absolute;
  transform: translate(2rem, -5.5rem);
  z-index: 3;
}
.timeline_Title_up_ph {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 0;
}
.timeline_Title_dn_ph {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 0.5rem;
}

.index_timeline_bg_circle_2 {
  width: 333px;
  height: 167px;
  /* outline: 4px solid #348ec7; */
  transform: translateY(3rem);
  overflow: hidden;
  margin: auto;
}

.index_timeline_bg_circle_2::-webkit-scrollbar {
  width: 5px;
}
.index_timeline_bg_circle_2::-webkit-scrollbar-thumb {
  background-color: #d3b572;
}

/* -----------------line_info */
#timeline {
  width: 100%;
  height: 100%;
  padding: 15px 1%;
  overflow-y: auto;
  /* outline: 2px solid  #348ec7; */
}

.line_circle {
  transform: translate(-10px, -20px);
}

#timeline ul {
  min-height: 1180px;
  /* height: 100%; */
  width: 313px;
  border-top: 0;
  border-left: 3px solid transparent;
  border-left-color: #d3b572;
  /* Fullback */
  border-image-slice: 1;
  position: relative;
  top: 5%;
  left: 2%;
  /* perspective: 2000px */
}
.timeline_vector {
  transform: translate(-13px, 1140px);
}

#timeline ul li:after {
  content: " ";
  font-family: fontawesome;
  display: block;
  width: 10px;
  height: 10px;
  left: -8px;
  border-radius: 50%;
  font-weight: 100;
  font-size: 90%;
  line-height: 10px;
  text-align: center;
  background-color: #d3b572;
  color: #fff;
  position: absolute;
  -webkit-transition: transform 1s linear;
  transition: transform 1s linear;
}

#timeline ul li:before {
  content: " ";
  width: 40px;
  height: 1px;
  display: block;
  position: absolute;
  border-top: 2px solid #d3b572;
  transform: translateY(4px);
}

#timeline ul li .cont {
  color: #d3b572;
  width: 245px;
  padding: 10px 10px 5px;
  border: 1px solid #d3b572;
  -webkit-transform: translate(0, -25px);
  /* transform: translate(0, -55px); */
  text-transform: capitalize;
  line-height: 150%;
  font-size: 80%;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 22px;
  left: 40px;
  cursor: pointer;
  z-index: 3;
}

#timeline ul li .cont:hover {
  background-color: #d3b47258;
}

#timeline ul li .cont time {
  width: 90px;
  height: 16px;
  position: absolute;
  top: -15px;
  /*   left: calc(100%/2 - 50px); */
  color: #d3b572;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}
#timeline ul li .cont h3 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

#timeline ul li .cont .cont_info p {
  width: 200px;
  text-transform: capitalize;
}

#timeline ul li .cont .cont_info::after {
  content: " see more  ";
  width: 200px;
  height: 25px;
  display: block;
  font-size: 14px;
  text-decoration: underline;
  text-align: end;
  position: absolute;
}

#timeline ul li .cont .cont_info::after:hover {
  color: #667080;
}

/* #timeline ul li:first-child:after,
#timeline ul li:first-child:before,
#timeline ul li:first-child .cont {
  top: 5%;
}

#timeline ul li:nth-child(2):after,
#timeline ul li:nth-child(2):before,
#timeline ul li:nth-child(2) .cont {
  display: none;
}

#timeline ul li:nth-child(3):after,
#timeline ul li:nth-child(3):before,
#timeline ul li:nth-child(3) .cont {
  display: none;
} */
.timeline_cont_1 {
  top: 10%;
  /* transform: translateY(0rem); */
}
.timeline_cont_2 {
  transform: translateY(8rem);
}
.timeline_cont_3 {
  transform: translateY(26rem);
}
.timeline_cont_4 {
  transform: translateY(43rem);
}
.timeline_cont_5 {
  transform: translateY(55rem);
}

@media screen and (min-width: 1440px) {
  /* ---------index_timeline_wrap---------- */
  .index_timeline_wrap {
    transform: translateY(20rem);
  }
  .index_timeline {
    width: 100%;
    height: 887px;
    background-color: #fff;
  }
  .index_timeline_bg_circle {
    width: 1126px;
    height: 1120px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-13rem);
    margin: auto;
    overflow: hidden;
  }

  .index_timeline_bg_halfcircle {
    width: 1126px;
    height: 887px;
    background: url("../imgs/index/marquee/halfcircle-black.png") center center /
      contain no-repeat;
    position: relative;
    /* z-index: 1; */
    transform: translateY(10rem);
  }
  .index_timeline_bg_halfcircle .halfcircle {
    width: 100%;
  }
  .index_timeline_bg_halfcircle .marquee_white_wrap {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 140px;
  }
  .marquee_black_outwrap {
    width: 100%;
    /* height: 140px; */
  }
  .marquee_black_wrap {
    width: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 0;
  }

  /* -----index_timeline_Title----- */
  .index_timeline_Title_ph {
    display: none;
  }
  .index_timeline_Title {
    text-align: center;
    transform: translateY(-6rem);
    cursor: default;
    display: block;
  }
  .timeline_Title_up {
    font-size: 128px;
    line-height: 128px;
    margin-bottom: 0;
  }
  .timeline_Title_dn {
    color: #fff;
    font-size: 78px;
    line-height: 80px;
    padding-left: 15rem;
  }

  /* -------timeline-------- */

  /* index_timeline_bg_circle_2 */
  /* .index_timeline_bg_circle_2 {
  width: 1126px;
  height: 1120px;
  border-radius: 50%;
  outline: 4px solid #348ec7;
  margin: auto;
  overflow: auto;
} */

  .index_timeline_bg_circle_2 {
    width: 958px;
    height: 620px;
    /* outline: 4px solid #348ec7; */
    transform: translateY(-7rem);
    overflow: auto;
    margin: auto;
  }

  .index_timeline_bg_circle_2::-webkit-scrollbar {
    width: 5px;
  }
  .index_timeline_bg_circle_2::-webkit-scrollbar-thumb {
    background-color: #d3b572;
  }
  .index_timeline_bg_circle_2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  #timeline {
    width: 100%;
    height: 1120px;
    padding: 20px 1%;
    overflow: hidden;
  }

  .line_circle {
    transform: translate(-10px, -20px);
  }
  .timeline_vector {
    transform: translate(-13px, 960px);
  }

  #timeline ul {
    min-height: 1000px;
    width: 550px;
    border-top: 0;
    border-left: 3px solid transparent;
    border-left-color: #d3b572;
    /* Fullback */
    border-image-slice: 1;
    position: relative;
    top: 5%;
    left: 50%;
    /* perspective: 2000px */
  }

  #timeline ul li:after {
    content: " ";
    font-family: fontawesome;
    display: block;
    width: 14px;
    height: 14px;
    left: -8px;
    border-radius: 50%;
    font-weight: 100;
    font-size: 90%;
    line-height: 35px;
    text-align: center;
    background-color: #d3b572;
    color: #fff;
    position: absolute;
    -webkit-transition: transform 1s linear;
    transition: transform 1s linear;
  }

  #timeline ul li:before {
    content: " ";
    width: 100px;
    height: 1px;
    display: block;
    position: absolute;
    border-top: 1px solid #d3b572;
    transform: translateY(7px);
  }

  #timeline ul li:nth-child(odd)::before {
    left: -97px;
  }

  #timeline ul li .cont {
    color: #d3b572;
    width: 353px;
    /* height: 110px; */
    padding: 20px 15px 15px;
    border: 1px solid #d3b572;
    /*   border-radius: 4px; */
    -webkit-transform: translate(0, -55px);
    /* transform: translate(0, -55px); */
    text-transform: capitalize;
    line-height: 150%;
    font-size: 80%;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 22px;
    left: 100px;
    cursor: pointer;
  }

  #timeline ul li:nth-child(odd) .cont {
    left: -450px;
  }
  #timeline ul li .cont .cont_info::after {
    display: none;
  }

  #timeline ul li .cont:hover {
    background-color: #d3b47258;
  }

  #timeline ul li .cont time {
    width: 150px;
    height: 30px;
    position: absolute;
    top: -25px;
    /*   left: calc(100%/2 - 50px); */
    /*   background-color: #7AB800; */
    color: #d3b572;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    /*   border-radius: 3px */
  }
  #timeline ul li .cont h3 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }

  #timeline ul li .cont .cont_info p {
    width: 300px;
  }

  #timeline ul li:first-child:after,
  #timeline ul li:first-child:before,
  #timeline ul li:first-child .cont {
    /* top: 5%; */
    display: block;
    /* transform: translateY(30rem); */
  }

  #timeline ul li:nth-child(1):after,
  #timeline ul li:nth-child(1):before,
  #timeline ul li:nth-child(1) .cont {
    /* top: 18%; */
    /* transform: translateY(10rem); */
  }

  #timeline ul li:nth-child(2):after,
  #timeline ul li:nth-child(2):before,
  #timeline ul li:nth-child(2) .cont {
    /* top: 20%; */
    display: block;
    /* transform: translateY(20rem); */
  }

  #timeline ul li:nth-child(3):after,
  #timeline ul li:nth-child(3):before,
  #timeline ul li:nth-child(3) .cont {
    /* top: 30%; */
    display: block;
    /* transform: translateY(30rem); */
  }

  .timeline_cont_1 {
    transform: translateY(3rem);
  }
  .timeline_cont_2 {
    transform: translateY(9rem);
  }
  .timeline_cont_3 {
    transform: translateY(20rem);
  }
  .timeline_cont_4 {
    transform: translateY(30rem);
  }
  .timeline_cont_5 {
    transform: translateY(44rem);
  }
}

/* ---------------旋轉中心點 */

/* #timeline ul li:nth-child(odd) .cont
{
  -webkit-transform-origin: left;
  transform-origin: -90px 0px;
  -webkit-transition: transform 1s linear;
  transition: transform 1s linear
}

#timeline ul li:nth-child(even) .cont
{
  -webkit-transform-origin: right;
  transform-origin: -90px 0px;
  -webkit-transition: transform 1s linear;
  transition: transform 1s linear
} */

/* ----------------hover */

/* #timeline ul li:nth-child(odd):hover .cont
{
  text-align: left;
  -webkit-transform: rotateY(-175deg) translate3d(60px,-50px,5px);
  transform: rotateY(-175deg) translate3d(60px,-50px,5px);
  -webkit-transition: transform 1s linear;
  transition: transform 1s linear;
}

#timeline ul li:nth-child(even):hover .cont
{
  text-align: left;
  -webkit-transform: rotateY(175deg) translate3d(-60px,-50px,5px);
  transform: rotateY(175deg) translate3d(-60px,-50px,5px);
  -webkit-transition: transform 1s linear;
  transition: transform 1s linear
}



#timeline ul li:nth-child(odd):hover .cont p,
#timeline ul li:nth-child(odd):hover .cont h3
{
  -webkit-transform: rotateY(-175deg);
  transform: rotateY(-175deg)
}
#timeline ul li:nth-child(odd):hover .cont time
{
  -webkit-transform: rotateY(-175deg);
  transform: rotateY(-175deg)
}


#timeline ul li:nth-child(even):hover .cont p,
#timeline ul li:nth-child(even):hover .cont h3
{
  -webkit-transform: rotateY(175deg);
  transform: rotateY(175deg)
}

#timeline ul li:nth-child(even):hover .cont time
{
  -webkit-transform: rotateY(175deg);
  transform: rotateY(175deg)
}


#timeline ul li:nth-child(n+1):hover:after
{
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
  -webkit-transition: transform 1s linear;
  transition: transform 1s linear
} */

/* ----------下面為配件類型----------- */

.index_item_style_wrap {
  transform: translateY(13rem);
}

.index_item_style_content {
  /* outline: 1px solid red; */
  width: 375px;
  position: relative;
}

.index_item_style_text_en {
  font-size: 40px;
  font-weight: 700;
  color: #d3b572;
  font-family: Kaisei Opti;
  position: absolute;
  top: -50px;
  right: 70px;
  cursor: default;
}

.index_item_style_text_tc { 
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  left: 39px;
  bottom: 126px;
  cursor: default;
}

.index_item_style_content_row1,
.index_item_style_content_row2 {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.index_item_style_content_row1_left_imgwrap img {
  width: 135px;
  height: 175px;
}

.index_item_style_content_row1_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index_item_style_content_row1_right_imgwrap img {
  width: 135px;
  height: 65px;
}

.index_item_style_content_row1_right_imgwrap2 img {
  width: 135px;
  height: 90px;
}

.index_item_style_content_row2 {
  margin-top: 25px;
}

.index_item_style_content_row2_left_imgwrap img {
  width: 195px;
  height: 90px;
}

.index_item_style_content_row2_right_imgwrap img {
  width: 75px;
  height: 90px;
}

.index_item_style_seemore {
  /* outline: 1px solid red; */
  padding: 0 40px;
}

.index_item_style_seemore p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.index_item_style_seemore:hover p {
  color: #667080;
}

.index_item_style_seemore a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  /* outline: 1px solid red; */
  padding-right: 20px;
  padding-top: 25px;

  display: flex;
  flex-direction: row-reverse;
}

.index_item_style_seemore svg {
  position: absolute;
  left: 3px;
  top: 18px;
}

.desktop_index_item_style_content {
  display: none;
}

.desktop_index_item_style_carousel {
  display: none;
  /* outline: 1px solid red; */
}

/* 桌機版 */
@media screen and (min-width: 1140px) {
  .index_item_style_wrap {
    transform: translateY(30rem);
    overflow-y: auto;
    padding-bottom: 40px;
    padding-left: 40px;
    /* padding-right: 40px; */
  }

  .index_item_style_wrap::-webkit-scrollbar {
    height: 5px;
  }
  .index_item_style_wrap::-webkit-scrollbar-thumb {
    background-color: #d3b572;
  }
  .index_item_style_wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  /* 下面是排排寫無限輪播牆 */
  .desktop_index_item_style_content {
    display: block;
  }

  .index_item_style {
    /* outline: 1px solid red; */
    padding-top: 110px;
  }

  .index_item_style_content {
    width: 690px;
    /* outline: 1px solid red; */
    margin-right: 50px;
  }

  .index_item_style_text_en {
    font-size: 128px;
    top: -153px;
    right: 5px;
  }

  .index_item_style_text_tc {
    font-size: 80px;
    left: 0px;
    bottom: 172px;
  }

  .index_item_style_content_row1,
  .index_item_style_content_row2 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .index_item_style_content_row1_left_imgwrap img {
    width: 310px;
    height: 425px;
  }

  .index_item_style_content_row1_right_imgwrap img {
    width: 318px;
    height: 155px;
  }

  .index_item_style_content_row1_right_imgwrap2 img {
    width: 318px;
    height: 210px;
  }

  .index_item_style_content_row2 {
    margin-top: 50px;
  }
  .index_item_style_content_row2_left {
    padding-right: 40px;
  }

  .index_item_style_content_row2_left_imgwrap img {
    width: 450px;
    height: 210px;
  }

  .index_item_style_content_row2_right_imgwrap img {
    width: 180px;
    height: 210px;
  }

  .index_item_style_seemore {
    display: none;
  }

  /* Carousel動起來 */
  .desktop_index_item_style_carousel {
    display: block;
    /* outline: 1px solid red; */
  }

  .index_item_style_carousel1 {
    /* outline: 1px solid red; */
    animation: scroll 60s linear infinite;
  }

  .index_item_style_carousel2 {
    display: block;
    animation: scroll2 60s linear infinite;
    animation-delay: -30s;
  }

  /* @keyframes scroll {
      from {
          transform: translateX(100%)
      }

      to {
          transform: translateX(-100%)
      }
  }

  @keyframes scroll2 {
      from {
          transform: translateX(0%)
      }

      to {
          transform: translateX(-200%)
      }
  } */

  /* desktop_index_item_style_content_final */

  .desktop_index_item_style_content_final {
    margin-right: 40px;
  }
}

/* 下面是排排寫組員小卡 手機版 */
.index_member_card_mobile {
  transform: translateY(15rem);
  background-color: #fff;
  width: 100%;
  /* outline: 1px solid red; */
  padding: 40px 0;
}

.index_member_card_mobile_unit {
  position: relative;
  /* outline: 1px solid red; */
}

.index_member_card_mobile_unit p {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  position: absolute;
  left: 30px;
  top: 9px;
}

.index_member_card_mobile_unit:hover p {
  color: #d3b572;
}

.index_member_card_mobile_unit_imgwrap {
  width: 150px;
  height: 75px;
  /* outline: 1px solid red */
}

.index_member_card_mobile_unit_imgwrap img {
  width: 100%;
}

.index_member_card_textbox {
  /* outline: 1px solid red; */
  position: relative;
}

.index_member_card_mobile_unit .index_member_card_text1,
.index_member_card_mobile_unit .index_member_card_text2 {
  font-size: 40px;
  color: #d3b572;
  font-family: Kaisei Opti;
  margin-bottom: 0;
}

.index_member_card_mobile_unit .index_member_card_text1 {
  position: absolute;
  left: -3px;
  top: -18px;
}

.index_member_card_mobile_unit .index_member_card_text2 {
  position: absolute;
  left: 100px;
  top: 26px;
}

.index_member_card_desktop {
  display: none;
}

/* 下面是排排寫組員小卡 桌機版 */
@media screen and (min-width: 1140px) {
  .index_member_card_mobile {
    display: none;
  }

  .index_member_card_desktop {
    display: block;
    transform: translateY(40rem);
  }

  .index_member_card_desktop {
    background-color: #fff;
    width: 100%;
    /* outline: 1px solid red; */
    padding: 100px 0;
  }

  .index_member_card_desktop_unit {
    position: relative;
    /* outline: 1px solid red; */
  }

  .index_member_card_desktop_unit p {
    font-size: 32px;
    font-weight: 700;
    color: #000;
    position: absolute;
    left: 43px;
    top: 4px;
  }

  .index_member_card_desktope_unit:hover p {
    color: #d3b572;
  }

  .index_member_card_desktop_unit_imgwrap {
    width: 225px;
    height: 110px;
    /* outline: 1px solid red */
  }

  .index_member_card_desktop_unit_imgwrap img {
    width: 100%;
  }
}

.mobile-menu-footer_2 {
  color: #d3b572;
  font-size: 12px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5%;
}
@media screen and (min-width: 1140px) {
  .mobile-menu-footer_2 {
    display: none;
  }
}
