*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
.mc-bg{
    height: 100vh;
    background-color: black;
    position: relative;
    /* overflow: hidden; */
}

.container{
    width: 100%;
    background: linear-gradient(#ffffff, #D3B572);
    height: 100vh;
    padding-top: 20%;
    /* 這裡調整高度 */
    padding-bottom: 20px;
    position: relative;
}
.ir-img{
    text-align: center;
    margin-top: 20px;
}
.mc-logo{
    margin-right: 10px;
}
.mc-link .ir{
    border-bottom: solid 0.5px #D3B572;
    padding: 10px 30px;
    font-weight: 700;
}
.mc-link .pr{
    border-bottom: solid 2px #D3B572;
    padding: 10px 30px;
    font-weight: 700;
}
.mc-link a{
    color: #D3B572;
}
.mc-bg .container form .mc-link{
    margin: auto;
}
.container form div{
    width: 100%;
    
}
.container form p{
    text-align: start;
    color: #000000;
    font-size: 16px;
}
.sign-up-text{
    margin-bottom: 12px;
    margin-top: 4px;
}
.container form .sign-up-text-hint{
    padding-top: 4px;
    font-size: 12px;
    margin-bottom: 0px;
    color: #d3b47200;
}
.Icon-inside input{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border:  1px solid #D3B572;
    padding-left: 35px;
}
input::-webkit-input-placeholder{
    color: #D3B572;
    font-size: 16px;
}
.Icon-inside {
    position:relative;
   }
.Icon-inside i{
    position:absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
   }
.mc-btn{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border-radius: 6px;
    border:  1px solid #000000;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}
.mc-btn:hover{
    transition: .3s;
    border:  1px solid #D3B572;
    color: #000000;
    background-color: #D3B572;
}
/* -------------------------------- */
.sign-in-footer{
    text-align: center;
    position: absolute;
    align-items: center;
    top:850px;
    right: 510px;
    z-index: 3;
}   
.sign-in-footer::before{
    display: block;
    content: "";
    width: 490px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -500px;
}
.sign-in-footer::after{
    display: block;
    content: "";
    width: 490px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    right: -500px;
    top: 50%;
    transform: translateY(-50%);
}
.sign-in-footer p{
    color: #000000;
}
.sign-in-footer p a{
    color: #000000;
}
.side_nav_wrap{
    display: none;
}