@media screen and (min-width: 1920px){
.container{
    max-width: 1200px;
    padding-top: 5%;
    margin-right: 0;
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    /* height: 100vh; */
}
.mc-bg .container form{
    width: 50%;
    margin-left: 200px;
}
.mc-logo{
    /* display: none; */
}
.mc-link .ir{
    border-bottom: solid 1px #D3B572;
    padding: 10px 30px;
    font-weight: 700;
}
.mc-link .pr{
    border-bottom: solid 4px #D3B572;
    padding: 10px 30px;
    font-weight: 700;
}
.info-revise .ir-img{
    text-align: center;
    margin-top: 30px;
}
.container form div{
    margin-top: 10px;
}
.container form .sign-up-text{
    margin-top: 20px;
    font-size: 18px;
}
.Icon-inside input{
    height: 55px;
}
.mc-btn{
    height: 55px;
}
/* ------------side nav------------- */
.side_nav_wrap{
    position: absolute;
    top: 96px;
    left: 400px;
    display: block;
}
.side_nav_upper{
    position: relative
}
.side_nav_down{
    position: relative
}

.vertical_line{
    position: absolute;
    top: 16px;
    left: 8px;
}

.side.nav{
    display:flex;
}

.side_nav_ticket{
    display: flex;
    text-align: center;
    align-items: center;
}

.hex_icon {
    margin-right:30px;
    margin-bottom:1px;

}

.side_nav_text {
    width: 170px; 
    position: relative;
    display:inline-block;
    padding: 8px 24px;
    border: 0; margin-bottom: 15px;
    background: transparent;
    text-transform: uppercase;
    text-decoration: none;
}

.side_nav_text::before {
    content: ''; /* To generate the box */
    position: absolute;
    top: 0; right:0 ; bottom: 0; left:0 ;
    z-index: 2;
    border: #D3B572 1px solid;
    transform: skew(-25deg);
} 
.side_nav_ticket:hover .side_nav_text::before{
    background: linear-gradient(#ffffff00, #D3B572);
}
.side_nav_ticket:hover .h1{
    color: #ffffff;
}
.side_nav_ticket:nth-child(2) .side_nav_text::before{
    background: linear-gradient(#ffffff00, #D3B572);
}
.side_nav_ticket:nth-child(2) .h1{
    color: #ffffff;
}
  .h1 {
    font-size: 20px;
    /* padding: 8px 24px; */
    margin: 30px 0;
    text-transform: uppercase;
    color: #D3B572;
  }

/* news wrap */

.news_wrap{
    margin-top:40px;
    display: flex;
}

.news_wrap_left_deco{
    position: absolute;
    left:-37px;
}

.news_img_wrap{
    border:#D3B572 1px solid;
    border-radius: 8px;
    width: 250px;
}

.news_img_wrap img{
    width: 100%;;
    overflow: hidden;
    object-fit: contain;
}
}
@media screen and (max-width: 1920px){
    .sign-in-footer{
        display: none;
    }
    }