/* ---RWD手機版：375px--- */
@keyframes sheen {
    0% {
        transform: skewY(-45deg) translateX(0);
   }
    100% {
        transform: skewY(-45deg) translateX(12.5em);
   }
}
/* .wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.wrapper {
    padding-left: 135px;
    padding-bottom: 20px;
}
.button {
    /* margin-top: -150px; */
    /* margin-left:1500px; */
    padding: 0.2em 1em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #D3B572;
    font-size: 16px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}
.button:before {
    content: "";
    background-color: #ffffff80;
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
.button:hover {
    background-color:#D3B572;
    color: #fff;
    border-bottom: 4px solid #D3B572;
    text-decoration: none;
}
.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}


/* ---RWD桌機版：1920px--- */
@media screen and (min-width: 1600px) {
    @keyframes sheen {
        0% {
            transform: skewY(-45deg) translateX(0);
       }
        100% {
            transform: skewY(-45deg) translateX(12.5em);
       }
    }
    /* .wrapper {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */
    .wrapper {
        padding-left: 0px;
        padding-bottom: 0px;
    }
    .button {
        margin-top: -150px;
        margin-left:1500px;
        padding: 0.75em 2em;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        border: 2px solid #D3B572;
        font-size: 24px;
        display: inline-block;
        border-radius: 0.3em;
        transition: all 0.2s ease-in-out;
        position: absolute;
        overflow: hidden;
    }
    .button:before {
        content: "";
        background-color: #ffffff80;
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
    }
    .button:hover {
        background-color:#D3B572;
        color: #fff;
        border-bottom: 4px solid #D3B572;
    }
    .button:hover:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: all 0.5s ease-in-out;
    }
}