:root{
    --background-dark: #000000;
    --text-light: #D3B572;
    --text-lighter: #D3B572;
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
    
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
    font-family: 'Montserrat', serif;
  }

  .card-grid{
    grid-template-columns: repeat(1, 2fr); 
  }



  /* ---RWD手機版：375px--- */
  h2{
    font-size: 20px;
    color: #D3B572;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    cursor: default;
  }
  .hero-section{
    margin: 0px auto;
    text-align: center;
    max-height:auto;
    background-color:#000000;
    height: 100vh;
  }
  
  .card-grid{
    display:inline-block;
    /* grid-template-columns: repeat; */
    /* grid-column-gap: auto(--spacing-l);
    grid-row-gap: auto(--spacing-l);
    max-width: auto(--width-container); */
    width: auto;
  }
  
  .card-wrap{
  display:inline-block;
	width: 100px;
	/* margin: 50px; */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 25px;
  font-size:24px;
  line-height: 5em;
  }
  
  .card-wrap:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  .card {
    background-color: #000;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    /* border-radius: var(--spacing-l); */
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card-wrap:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    position: absolute;
    top: 0;
  }

  .card__content-other{
    left: 0;
    /* padding: 24px; */
    /* width: 298px; */
    width: 100px;
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: #D3B572;
    font-size: 20px;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
    display: none;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 12px;
    text-shadow: 2px 2px 20px #D3B572;
    line-height: 1.4;
    text-align: center;
    padding-top: 40px;
    padding-left: 3px;
    padding-right: 3px;
  }


/* ---RWD桌機版：1920px--- */
@media screen and (min-width: 1600px) {
  h2{
    font-size: 48px;
    color: #D3B572;
    text-align: center;
    padding: 150px;
  }
  .hero-section{
    margin: 0px auto;
    text-align: center;
    max-height:auto;
    background-color:#000000;
  }
  
  .card-grid{
    display:inline-block;
    /* grid-template-columns: repeat; */
    /* grid-column-gap: auto(--spacing-l);
    grid-row-gap: auto(--spacing-l);
    max-width: auto(--width-container); */
    width: auto;
  }
  
  .card-wrap{
  display:inline-block;
	width: 300px;
	margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
  font-size:24px;
  line-height: 5em;
  }
  
  .card-wrap:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card-wrap:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    position: absolute;
    top: 0;
  }

  .card__content-other{
    left: 0;
    padding: 24px;
    width: 298px;
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: #D3B572;
    font-size: 24px;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 24px;
    text-shadow: 2px 2px 20px #D3B572;
    line-height: 1.4;
    text-align: center;
    padding-top: 120px;
    padding-left: 8px;
    padding-right: 8px;
  }




}