.sure-delete-item {
	/* width: 350vh; */
	width: 100vw;
	height: 150vh;
	position: fixed;
	background-color: rgb(0, 0, 0, 0.3);
	z-index: 3;
	/* outline: 1px solid red; */
}

.sure-delete-item-wrap {
	width: 95%;
	height: 190px;
	background-color: #fff;
	border-radius: 5px;
	position: fixed;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.sure-delete-item-name {
	/* outline: 1px solid red; */
	color: #000;
	font-size: 16px;
	font-weight: 500;
	margin-top: 35px;
}

/* 按鈕 */

.sure-delete-item-btn {
	height: auto;
	/* outline: 1px solid red; */
	display: flex;
	justify-content: center;
}

.sure-delete-item-btn button {
	border: 0;
	margin-top: 35px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 13px 24px;
	background-color: #D3B572;
	color: #fff;
	font-size: 16px;
	border-radius: 6px;
	padding: 8px 24px;
}

.sure-delete-item-btn button:hover {
	background-color: #667080;
}

.sure-delete-item-btn button:hover {
	background-color: #667080;
}

/* 關閉叉叉按鈕 */
.sure-delete-item-close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.sure-delete-item-close svg {
	width: 20px;
	height: 20px;
}

.hide {
	display: none;
}




/* ---RWD桌機版：1920px--- */
@media screen and (min-width: 1600px) {
	.sure-delete-item-wrap {
		/* outline: 1px solid red; */
		width: 25%;
		height: 250px;
	}

	.sure-delete-item-name {
		font-size: 24px;
		margin-top: 40px;
	}

	.checkout button {
		margin-top: 50px;
	}



}